body {
  font-family: sans-serif;
}
.rc-calendar-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
}
.rc-month-container {
  margin: 0 0.5rem;
  padding: 0.25rem;
  border: 0.1rem solid black;
}
.rc-day {
  font-size: 0.8rem;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0 0.3rem;
  border-radius: 0.1rem;
}
.rc-day:hover {
  box-shadow: 0 0 0.2rem;
}
.today {
  color: #ccc;
  background-color: #23446f;
}
.rc-selected {
  background-color: #999;
}
.tyler,
.robin,
.john {
  background-color: #f49401;
}
